@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/home/style.css">

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">
	<section id="billboard">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<button class="prev slick-arrow">
						<i class="icon icon-arrow-left"></i>
					</button>

					<div class="main-slider pattern-overlay">
						<div class="slider-item">
							<div class="banner-content">
								<h2 class="banner-title">Life of the Wild</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero
									ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis
									urna, a eu.
								</p>
								<div class="btn-wrap">
									<a href="#" class="btn btn-outline-accent btn-accent-arrow">
										Read More<i class="icon icon-ns-arrow-right"></i>
									</a>
								</div>
							</div><!--banner-content-->
							<img src="home/images/main-banner1.jpg" alt="banner" class="banner-image">
						</div><!--slider-item-->

						<div class="slider-item">
							<div class="banner-content">
								<h2 class="banner-title">Birds gonna be Happy</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero
									ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis
									urna, a eu.
								</p>
								<div class="btn-wrap">
									<a href="#" class="btn btn-outline-accent btn-accent-arrow">
										Read More<i class="icon icon-ns-arrow-right"></i>
									</a>
								</div>
							</div><!--banner-content-->
							<img src="home/images/main-banner2.jpg" alt="banner" class="banner-image">
						</div><!--slider-item-->

					</div><!--slider-->

					<button class="next slick-arrow">
						<i class="icon icon-arrow-right"></i>
					</button>

				</div>
			</div>
		</div>

	</section>
	<section id="best-selling" class="leaf-pattern-overlay">
		<div class="corner-pattern-overlay"></div>
		<div class="container">
			<div class="row justify-content-center">

				<div class="col-md-8">

					<div class="row">

						<div class="col-md-6">
							<figure class="products-thumb">
								<img src="home/images/single-image.jpg" alt="book" class="single-image">
							</figure>
						</div>

						<div class="col-md-6">
							<div class="product-entry">
								<h2 class="section-title divider">Best Selling Book</h2>

								<div class="products-content">
									<div class="author-name">By Timbur Hood</div>
									<h3 class="item-title">Birds gonna be happy</h3>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet,
										libero ipsum enim pharetra hac.
									</p>
									<div class="item-price">$ 45.00</div>
									<div class="btn-wrap">
										<a href="#" class="btn-accent-arrow">
											shop it now <i class="icon icon-ns-arrow-right"></i>
										</a>
									</div>
								</div>

							</div>
						</div>

					</div>
					<!-- / row -->

				</div>

			</div>
		</div>
	</section>

	<section id="popular-books" class="bookshelf py-5 my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="section-header align-center">
						<div class="title">
							<span>Some quality items</span>
						</div>
						<h2 class="section-title">Popular Books</h2>
					</div>
					<div class="tab-content">
						<div id="all-genre" data-tab-content class="active">
							<div class="row">

								<div class="col-md-3">
									<div class="product-item">
										<figure class="product-style">
											<img src="home/images/tab-item1.jpg" alt="Books" class="product-item">
											<button type="button" class="add-to-cart"
													data-product-tile="add-to-cart">
												Add to
												Cart
											</button>
										</figure>
										<figcaption>
											<h3>Portrait photography</h3>
											<span>Adam Silber</span>
											<div class="item-price">$ 40.00</div>
										</figcaption>
									</div>
								</div>

								<div class="col-md-3">
									<div class="product-item">
										<figure class="product-style">
											<img src="home/images/tab-item2.jpg" alt="Books" class="product-item">
											<button type="button" class="add-to-cart"
													data-product-tile="add-to-cart">
												Add to
												Cart
											</button>
										</figure>
										<figcaption>
											<h3>Once upon a time</h3>
											<span>Klien Marry</span>
											<div class="item-price">$ 35.00</div>
										</figcaption>
									</div>
								</div>

								<div class="col-md-3">
									<div class="product-item">
										<figure class="product-style">
											<img src="home/images/tab-item3.jpg" alt="Books" class="product-item">
											<button type="button" class="add-to-cart"
													data-product-tile="add-to-cart">
												Add to
												Cart
											</button>
										</figure>
										<figcaption>
											<h3>Tips of simple lifestyle</h3>
											<span>Bratt Smith</span>
											<div class="item-price">$ 40.00</div>
										</figcaption>
									</div>
								</div>

								<div class="col-md-3">
									<div class="product-item">
										<figure class="product-style">
											<img src="home/images/tab-item4.jpg" alt="Books" class="product-item">
											<button type="button" class="add-to-cart"
													data-product-tile="add-to-cart">
												Add to
												Cart
											</button>
										</figure>
										<figcaption>
											<h3>Just felt from outside</h3>
											<span>Nicole Wilson</span>
											<div class="item-price">$ 40.00</div>
										</figcaption>
									</div>
								</div>

							</div>

						</div>
					</div>

				</div><!--inner-tabs-->

			</div>
		</div>
	</section>
</body>
